
/*
*Body
*/

$body-bg-color: #111;
$font-family: 'Poiret One', cursive;

/*
* Timer Text
*/

$timer-text-font-size: 12vh;
$timer-text-color: #50FF71;
$timer-h1-height: 200px;


/*
* Button Session
*/

$button-size-height: 32px;
$button-size-text: 50px;

/*
* Container
*/

$container-border-radius: 5px;
$container-bg-color: #222;

/*
* Panel
*/

$panel-heading-color: #444;
$panel-border-color: #333;





